<mat-toolbar color="primary">
    <button mat-raised-button color="primary" routerLink="/register">Add Normal Form</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" class="ml20" routerLink="/add-form-wizard">Form Wizard</button>
    <button mat-raised-button color="primary" class="ml20" routerLink="/data-table">Data Table</button>
    <button mat-raised-button color="primary" class="ml20" routerLink="/reactive-form-group">Dynamic ReactiveForm Group</button>
</mat-toolbar>
<router-outlet></router-outlet>